<a href="https://colab.research.google.com/github/Coolinglass/Applied-Machine-Learning-Projects/blob/master/Spark_SQL_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
# Create SparkSession object
spark = SparkSession.builder \
        .getOrCreate()

In [ ]:
# Import required libraries
from pyspark.sql.types import StringType, IntegerType, StructType, StructField, DoubleType

In [ ]:
# Define schema
finalSchema = StructType([StructField('meal_id', StringType(),True),
                              StructField('category',StringType(),True),
                              StructField('cuisine', StringType(),True),
                             ])

In [ ]:
# Creating dataframe from the data
Meal_info = spark.read.csv('dataset/meal_info.csv',schema=finalSchema,header=True)

In [ ]:
Meal_info.printSchema()

root
 |-- meal_id: string (nullable = true)
 |-- category: string (nullable = true)
 |-- cuisine: string (nullable = true)

In [ ]:
Meal_info.show()

+-------+------------+-------+
|meal_id|    category|cuisine|
+-------+------------+-------+
|   1885|   Beverages|   Thai|
|   1993|   Beverages|   Thai|
|   2539|   Beverages|   Thai|
|   1248|   Beverages| Indian|
|   2631|   Beverages| Indian|
|   1311|      Extras|   Thai|
|   1062|   Beverages|Italian|
|   1778|   Beverages|Italian|
|   1803|      Extras|   Thai|
|   1198|      Extras|   Thai|
|   2707|   Beverages|Italian|
|   1847|        Soup|   Thai|
|   1438|        Soup|   Thai|
|   2494|        Soup|   Thai|
|   2760|Other Snacks|   Thai|
|   2490|       Salad|Italian|
|   1109|   Rice Bowl| Indian|
|   2290|   Rice Bowl| Indian|
|   1525|Other Snacks|   Thai|
|   2704|Other Snacks|   Thai|
+-------+------------+-------+
only showing top 20 rows

In [ ]:
# Create view for the dataframe
Meal_info.createOrReplaceTempView("Meal_info")

In [ ]:
# View columns
spark.sql("show columns from Meal_info").show()

+--------+
|col_name|
+--------+
| meal_id|
|category|
| cuisine|
+--------+

In [ ]:
spark.sql("select meal_id, category, cuisine from Meal_info")

+-------+------------+-------+
|meal_id|    category|cuisine|
+-------+------------+-------+
|   1885|   Beverages|   Thai|
|   1993|   Beverages|   Thai|
|   2539|   Beverages|   Thai|
|   1248|   Beverages| Indian|
|   2631|   Beverages| Indian|
|   1311|      Extras|   Thai|
|   1062|   Beverages|Italian|
|   1778|   Beverages|Italian|
|   1803|      Extras|   Thai|
|   1198|      Extras|   Thai|
|   2707|   Beverages|Italian|
|   1847|        Soup|   Thai|
|   1438|        Soup|   Thai|
|   2494|        Soup|   Thai|
|   2760|Other Snacks|   Thai|
|   2490|       Salad|Italian|
|   1109|   Rice Bowl| Indian|
|   2290|   Rice Bowl| Indian|
|   1525|Other Snacks|   Thai|
|   2704|Other Snacks|   Thai|
+-------+------------+-------+
only showing top 20 rows

In [ ]:
spark.sql("Select DISTINCT category FROM meal_info")

+------------+
|    category|
+------------+
|       Salad|
|      Desert|
|     Biryani|
|   Rice Bowl|
|    Sandwich|
|       Pizza|
|   Beverages|
|Other Snacks|
|        Soup|
|    Starters|
|      Extras|
|     Seafood|
|       Pasta|
|        Fish|
+------------+

# Q1. Distinct number of meal categories and cuisines

In [ ]:
spark.sql("Select COUNT(DISTINCT category) as distinct_category FROM meal_info")

+-----------------+
|distinct_category|
+-----------------+
|               14|
+-----------------+

In [ ]:
spark.sql("Select COUNT(DISTINCT cuisine) as distinct_cuisine FROM meal_info")

+----------------+
|distinct_cuisine|
+----------------+
|               4|
+----------------+

In [ ]:
# Define schema
trainschema = StructType([StructField('id', DoubleType(),True),
                              StructField('week',IntegerType(),True),
                              StructField('center_id', StringType(),True),
                              StructField('meal_id', StringType(), True),
                              StructField('checkout_price', DoubleType(), True),
                              StructField('base_price', DoubleType(), True),
                              StructField('emailer_for_promotion', StringType(), True),
                              StructField('homepage_featured', StringType(), True),
                              StructField('num_orders', IntegerType(), True),
                             ])

In [ ]:
train = spark.read.csv('dataset/train.csv',schema=trainschema,header=True)

In [ ]:
# Schema of dataframe
train.printSchema()

root
 |-- id: double (nullable = true)
 |-- week: integer (nullable = true)
 |-- center_id: string (nullable = true)
 |-- meal_id: string (nullable = true)
 |-- checkout_price: double (nullable = true)
 |-- base_price: double (nullable = true)
 |-- emailer_for_promotion: string (nullable = true)
 |-- homepage_featured: string (nullable = true)
 |-- num_orders: integer (nullable = true)

In [ ]:
# Display dataframe
train.show()

+---------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
|       id|week|center_id|meal_id|checkout_price|base_price|emailer_for_promotion|homepage_featured|num_orders|
+---------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
|1379560.0|   1|       55|   1885|        136.83|    152.29|                    0|                0|       177|
|1466964.0|   1|       55|   1993|        136.83|    135.83|                    0|                0|       270|
|1346989.0|   1|       55|   2539|        134.86|    135.86|                    0|                0|       189|
|1338232.0|   1|       55|   2139|         339.5|    437.53|                    0|                0|        54|
|1448490.0|   1|       55|   2631|         243.5|     242.5|                    0|                0|        40|
|1270037.0|   1|       55|   1248|        251.23|    252.23|                    0|                0|        28|
|1191377.0|   1|       55|   1778|        183.36|    184.36|                    0|                0|       190|
|1499955.0|   1|       55|   1062|        182.36|    183.36|                    0|                0|       391|
|1025244.0|   1|       55|   2707|        193.06|    192.06|                    0|                0|       472|
|1054194.0|   1|       55|   1207|        325.92|    384.18|                    0|                1|       676|
|1469367.0|   1|       55|   1230|        323.01|     390.0|                    0|                1|       823|
|1029333.0|   1|       55|   2322|        322.07|     388.0|                    0|                1|       972|
|1446016.0|   1|       55|   2290|        311.43|    310.43|                    0|                0|       162|
|1244647.0|   1|       55|   1727|        445.23|    446.23|                    0|                0|       420|
|1378227.0|   1|       55|   1109|        264.84|    297.79|                    1|                0|       756|
|1181556.0|   1|       55|   2640|        282.33|    281.33|                    0|                0|       108|
|1313873.0|   1|       55|   2306|         243.5|    340.53|                    0|                0|        28|
|1067069.0|   1|       55|   2126|         486.0|     485.0|                    0|                0|        28|
|1058482.0|   1|       55|   2826|        306.58|    305.58|                    0|                0|       188|
|1240935.0|   1|       55|   1754|        289.12|    289.12|                    0|                0|       485|
+---------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+
only showing top 20 rows

In [ ]:
# Create view for the dataframe
train.createOrReplaceTempView("train")

# 2 Center_id has highest num_orders

In [ ]:
spark.sql("SELECT center_id, SUM (num_orders) FROM train GROUP BY center_id ORDER BY SUM(num_orders) desc LIMIT 1")

+---------+---------------+
|center_id|sum(num_orders)|
+---------+---------------+
|       13|        1742220|
+---------+---------------+

In [ ]:
# Left outer join
left_outer_join_df = train.join(Meal_info, 'meal_id', 'leftouter')

In [ ]:
spark.sql("SELECT * FROM train LEFT JOIN Meal_info ON train.meal_id = Meal_info.meal_id WHERE center_id = 13")

+---------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+-------+---------+-----------+
|       id|week|center_id|meal_id|checkout_price|base_price|emailer_for_promotion|homepage_featured|num_orders|meal_id| category|    cuisine|
+---------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+-------+---------+-----------+
|1171094.0|   1|       13|   1885|        135.86|    122.28|                    0|                1|      2132|   1885|Beverages|       Thai|
|1068455.0|   1|       13|   1993|        134.86|    122.28|                    0|                1|      2418|   1993|Beverages|       Thai|
|1105491.0|   1|       13|   2539|        133.86|    133.86|                    0|                0|       474|   2539|Beverages|       Thai|
|1486384.0|   1|       13|   2139|        337.62|    437.53|                    0|                0|       123|   2139|Beverages|     Indian|
|1345938.0|   1|       13|   2631|        252.23|    437.47|                    0|                0|       162|   2631|Beverages|     Indian|
|1277430.0|   1|       13|   1248|        253.23|    251.23|                    0|                0|       121|   1248|Beverages|     Indian|
|1005971.0|   1|       13|   1778|        184.36|    182.36|                    0|                0|       513|   1778|Beverages|    Italian|
|1217794.0|   1|       13|   1062|        185.33|    185.33|                    0|                0|       998|   1062|Beverages|    Italian|
|1264572.0|   1|       13|   2707|        191.09|    193.09|                    0|                0|      2078|   2707|Beverages|    Italian|
|1269641.0|   1|       13|   1207|        307.49|    382.24|                    0|                0|       366|   1207|Beverages|Continental|
|1129923.0|   1|       13|   1230|        320.16|     390.0|                    0|                0|       337|   1230|Beverages|Continental|
|1068257.0|   1|       13|   2322|         321.1|    382.24|                    0|                0|       528|   2322|Beverages|Continental|
|1324629.0|   1|       13|   2290|        279.36|    281.36|                    0|                0|      1688|   2290|Rice Bowl|     Indian|
|1298988.0|   1|       13|   1727|        424.92|    424.92|                    0|                0|      1067|   1727|Rice Bowl|     Indian|
|1191305.0|   1|       13|   1109|        231.86|    299.73|                    1|                0|      3511|   1109|Rice Bowl|     Indian|
|1174920.0|   1|       13|   2577|        281.33|    280.33|                    0|                0|       271|   2577| Starters|       Thai|
|1383444.0|   1|       13|   2640|        282.33|    280.33|                    0|                0|       526|   2640| Starters|       Thai|
|1063247.0|   1|       13|   1878|        280.33|    280.33|                    0|                0|       257|   1878| Starters|       Thai|
|1437377.0|   1|       13|   2306|        244.44|    340.53|                    0|                1|       756|   2306|    Pasta|    Italian|
|1461939.0|   1|       13|   1216|        454.93|    456.93|                    0|                0|        13|   1216|    Pasta|    Italian|
+---------+----+---------+-------+--------------+----------+---------------------+-----------------+----------+-------+---------+-----------+
only showing top 20 rows

# 3 Top selling cuisine at the center_id that has highest num_orders

In [ ]:
spark.sql("SELECT cuisine, SUM(num_orders) FROM train LEFT JOIN Meal_info ON train.meal_id = Meal_info.meal_id WHERE center_id = 13 GROUP BY cuisine ORDER BY sum(num_orders) desc LIMIT 1")

+-------+---------------+
|cuisine|sum(num_orders)|
+-------+---------------+
|   Thai|         654724|
+-------+---------------+

In [ ]:
# Define schema
fulfilmentcenter = StructType([StructField('center_id', StringType(),True),
                              StructField ('city_code',StringType(),True),
                              StructField ('region_code', StringType(),True),
                              StructField ('center_type', StringType(),True),
                              StructField ('op_area', DoubleType(),True),
                             ])

In [ ]:
# Creating dataframe from the data
Fulfilment_center = spark.read.csv('dataset/fulfilment_center_info.csv',schema=fulfilmentcenter,header=True)

In [ ]:
# Create view for the dataframe
Fulfilment_center.createOrReplaceTempView("Fulfilment_center")

In [ ]:
spark.sql("show columns from Fulfilment_center").show()

+-----------+
|   col_name|
+-----------+
|  center_id|
|  city_code|
|region_code|
|center_type|
|    op_area|
+-----------+

In [ ]:
spark.sql ("SELECT city_code, region_Code,op_area, Center_type FROM Fulfilment_Center")

+---------+-----------+-------+-----------+
|city_code|region_Code|op_area|Center_type|
+---------+-----------+-------+-----------+
|      679|         56|    3.7|     TYPE_A|
|      590|         56|    6.7|     TYPE_B|
|      590|         56|    4.0|     TYPE_C|
|      648|         34|    4.1|     TYPE_A|
|      632|         34|    3.6|     TYPE_C|
|      553|         77|    4.4|     TYPE_A|
|      593|         77|    3.9|     TYPE_A|
|      693|         34|    2.8|     TYPE_C|
|      526|         34|    4.1|     TYPE_A|
|      562|         77|    3.8|     TYPE_B|
|      699|         85|    2.8|     TYPE_C|
|      699|         85|    4.0|     TYPE_C|
|      526|         34|    3.8|     TYPE_A|
|      478|         77|    2.4|     TYPE_A|
|      576|         34|    4.0|     TYPE_B|
|      526|         34|    2.9|     TYPE_C|
|      713|         85|    4.5|     TYPE_A|
|      654|         56|    2.7|     TYPE_C|
|      515|         77|    3.0|     TYPE_C|
|      647|         56|    4.5|     TYPE_A|
+---------+-----------+-------+-----------+
only showing top 20 rows

# 4 Avg op_Area per center_type

In [ ]:
spark.sql ("SELECT Center_type, AVG(op_area) FROM Fulfilment_Center GROUP BY Center_Type ORDER BY AVG(op_area)")

+-----------+------------------+
|Center_type|      avg(op_area)|
+-----------+------------------+
|     TYPE_C|3.1578947368421044|
|     TYPE_A| 4.076744186046512|
|     TYPE_B|4.7733333333333325|
+-----------+------------------+

# 5 Center_type having highest revenue

In [ ]:
spark.sql ("SELECT Center_type, sum(checkout_price*num_orders) AS revenue FROM train LEFT JOIN Fulfilment_Center ON train.center_id = Fulfilment_Center.center_id GROUP BY Center_type ORDER BY revenue desc LIMIT 1")

+-----------+-------------------+
|Center_type|            revenue|
+-----------+-------------------+
|     TYPE_A|7.276203201869873E9|
+-----------+-------------------+

# 6 top ordered cusine based on number of orders

In [ ]:
spark.sql ("SELECT cuisine, sum(num_orders) FROM train LEFT JOIN Meal_info ON train.meal_id = Meal_info.meal_id GROUP BY cuisine ORDER BY sum(num_orders) desc LIMIT 1")

+-------+---------------+
|cuisine|sum(num_orders)|
+-------+---------------+
|Italian|       17166334|
+-------+---------------+

# 7 num_orders_per cuisine_per week

In [ ]:
spark.sql ("SELECT cuisine,week,sum(num_orders) FROM train LEFT JOIN Meal_info ON train.meal_id = Meal_info.meal_id GROUP BY cuisine, week ORDER BY cuisine, week")

+-----------+----+---------------+
|    cuisine|week|sum(num_orders)|
+-----------+----+---------------+
|Continental|   1|         146020|
|Continental|   2|         133570|
|Continental|   3|          97977|
|Continental|   4|         118819|
|Continental|   5|         116077|
|Continental|   6|         107160|
|Continental|   7|          77051|
|Continental|   8|          43897|
|Continental|   9|         152678|
|Continental|  10|         156051|
|Continental|  11|         124520|
|Continental|  12|          95914|
|Continental|  13|         109010|
|Continental|  14|          98188|
|Continental|  15|          96401|
|Continental|  16|          90087|
|Continental|  17|         114494|
|Continental|  18|         107330|
|Continental|  19|          80208|
|Continental|  20|          87718|
+-----------+----+---------------+
only showing top 20 rows

In [ ]:
spark.sql("SELECT center_id, Count(checkout_price < base_price) AS discount from train GROUP BY center_id ORDER BY discount desc LIMIT 1")

+---------+--------+
|center_id|discount|
+---------+--------+
|       13|    2834|
+---------+--------+